<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "'//mybatis.org//DTD Mapper 3.0///EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 查看博客第二种模式使用https://www.cnblogs.com/ityouknow/p/6037431.html -->
<mapper namespace="team.afeng.jxgl.mapper.UserMapper">
    <select id="queryUserList" resultType="User">
        select * from db_test.tb_user
    </select>
</mapper>